.chess__field {
    flex: 1 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &:before {
        content: '';
        float: left;
        padding-top: 100%;
    }

    &--black {
        background-color: rgb(53, 53, 53);
    }
    &--white {
        background-color: white;
    }
    img {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border-radius: 5px;
    }
}
