.chess__field {
    flex: 1 0 auto;
    height: auto;
    border: 1px solid gray;

    &:before {
        content: '';
        float: left;
        padding-top: 100%;
    }

    &--black {
        background-color: black;
    }
    &--white {
        background-color: white;
    }
}
